/**
 * @Company 艾美伴行   
 * @Title: ${Function}DAO.java 
 * @Package  ${packageName}
 * @author ${user}   
 * @date ${date}
 * @version V1.0   
 */
package ${packageName};

import ${Dao_Common_packageName}.CommonDAO;
import ${Domain_packageName}.${Function}Domain;
/** 
 * @ClassName: ${Function}DAO
 * @Description: ${Function}的DAO接口定义类
 *  
 */
public interface ${Function}DAO extends CommonDAO<${Function}Domain,#if(${this.getTable().hasPkDomain()})${PKDomain_packageName}.${Function}DomainPK#else${this.getTable().findIdType()}#end>{
	
}
