/**
 * @Company 青鸟软通   
 * @Title: ${Function}Service.java 
 * @Package  ${packageName}
 * @author ${user}   
 * @date ${date}
 * @version V1.0   
 */
package ${packageName};

/** 
 * @ClassName: ${Function}Service
 * @Description: ${Function}的Service接口定义类
 *  
 */
public interface ${Function}Service {

		
}
