/**
 * @Company weipu   
 * @Title: ${Function}Service.java 
 * @Package  ${packageName}
 * @author ${user}   
 * @date ${date}
 * @version V1.0   
 */
package ${packageName};


import ${Dao_packageName}.${Function}DAO;
import ${Service_packageName}.${Function}Service;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;

/** 
 * @ClassName: ${Function}Service
 * @Description: ${Function}的Service接口定义类
 *  
 */
public class ${Function}ServiceImpl implements ${Function}Service{

	private static final Logger LOG = LoggerFactory.getLogger(${Function}ServiceImpl.class);
	
	/** 
	* @Fields ${function}Dao : ${Function}Dao 工具依赖 
	*/
	private ${Function}DAO ${function}Dao;
	
	
	/*===============业务方法=============*/
	
	
	
	
	
	/*====================getter and setter =================*/
	
	/**
	 * @Description: 属性${function}Dao 的set方法 
	 */
	public void set${Function}Dao(${Function}DAO ${function}Dao){
		this.${function}Dao = ${function}Dao;
	}
	
}
