/**
 * @Company JBINFO
 * @Title: ${Function}PKEntity.java 
 * @Package ${packageName}
 * @author ${user}
 * @date ${date}
 * @version V1.0
 */ 
package ${packageName};

import java.io.Serializable;

import javax.persistence.Column;
import javax.persistence.Embeddable; 

/** 
 * @ClassName: ${Function}PKEntity 
 * @Description: ${this.getTableName()} 自动生成的对应的实体对象的联合主键对象
 * @author ${user}
 */
 
@Embeddable
public class ${Function}PKEntity implements Serializable{
	private static final long serialVersionUID = ${serialVersionUID};

	#foreach (${column} in ${this.getTable().findPriColumnList()}) 
	/** 
	 * @Fields ${column.getJavaName()} : ${column.getColumnComment()}
	 */
	@Column(name="${column.getColumnName()}" #if(!${column.isNullAble()}),nullable=${column.isNullAble()}#end #if(${column.getColumnLength()} > 0),length=${column.getColumnLength()}#end)
	private ${column.getJavaType()} ${column.getJavaName()};
	#end
	
	
	/** 
	 * <p>Description: 默认的构造函数</p> 
	 * @author ${user}
	 * @date ${date}
	 */ 
	public ${Function}PKEntity(){}
	
	
	/** 
	 * <p>Description: 全部属性的一个构造函数</p> 
	 * @author ${user}
	 * @date ${date}
#foreach (${column} in ${this.getTable().findPriColumnList()})
	 * @param ${column.getJavaName()} : ${column.getColumnComment()}
	#end
*/ 
	public ${Function}PKEntity(#foreach (${column} in ${this.getTable().findPriColumnList()})${column.getJavaType()} ${column.getJavaName()}#if ($velocityCount < ${this.getTable().findPriColumnList().size()}),#end #end) {
		super();
		#foreach (${column} in ${this.getTable().findPriColumnList()})
		this.${column.getJavaName()} = ${column.getJavaName()};
		#end
	}
	
	
	
	/*=========================getter and setter ===================*/
	
#foreach (${column} in ${this.getTable().findPriColumnList()})
	public ${column.getJavaType()} ${column.findFieldGetMethod()}() {
		return this.${column.getJavaName()};
	}
	public void ${column.findFieldSetMethod()}(${column.getJavaType()} ${column.getJavaName()}) {
		this.${column.getJavaName()} = ${column.getJavaName()};
	}
	
#end
	
	
#if (!${this.getTable().findPriColumnList().isEmpty()})
	
	
	/*====================hashCode and equals ====================*/
	/**
	 * <p>Description: ${Function}PKEntity 自动生成的hashcode方法</p> 
	 * @author ${user}
	 * @date ${date}
	 * @return
	 * @see java.lang.Object#hashCode()
	 */ 
	@Override
	public int hashCode() {
		final int prime = 31;
		int result = 1;
		#foreach (${column} in ${this.getTable().findPriColumnList()})
		${column.getHashCodeString()}
		#end
		return result;
	}
	/**
	 * <p>Description:${Function}PKEntity 自动生成的equals方法 </p> 
	 * @author ${user}
	 * @date ${date}
	 * @param obj
	 * @return
	 * @see java.lang.Object#equals(java.lang.Object)
	 */ 
	@Override
	public boolean equals(Object obj) {
		if (this == obj){
			return true;
		}
		if (obj == null){
			return false;
		}
		if (getClass() != obj.getClass()){
			return false;
		}
		${Function}PKEntity other =(${Function}PKEntity) obj;
		#foreach (${column} in ${this.getTable().findPriColumnList()})
		${column.getEquelsString()}
		#end
		return true;
	}
#end
	
	/*==================== toString() ====================*/
	/**
	* <p>Description:${Function}PKEntity 自动生成的toString方法 </p> 
	* @author ${user}   
	* @date ${date} 
	* @return 
	* @see java.lang.Object#toString() 
	*/ 
	@Override
	public String toString() {
		return "${Function}PKEntity [" +
		#foreach (${column} in ${this.getTable().findPriColumnList()}) 
			"${column.getJavaName()}=" + ${column.getJavaName()} + "," + 
		#end
		"]";
	}
	
	
}
