/**
* @Company JBINFO
* @Title: ${Function}Entity.java 
* @Package ${packageName} 
* @author ${user}   
* @date ${date} 
* @version V1.0   
*/ 
package ${packageName};
#if(${this.isHasBaseEntity()})
import ${this.getBaseEntityName()};
#else
import java.io.Serializable;
#end
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
#if(${this.getTable().hasPkDomain()})
import javax.persistence.EmbeddedId;
#else
import javax.persistence.Id;
#end
#if(${this.getIndexStr()})
import javax.persistence.Index;
#end
import javax.persistence.Table;

/** 
 * @ClassName: ${Function}Entity
 * @Description: ${Function}的实体定义
 *  
 */
@Entity
@Table(name = "${this.getTableName()}" #if(${this.getIndexStr()}),indexes = {${this.getIndexStr()}}#end)
public class ${Function}Entity #if(${this.isHasBaseEntity()})extends ${this.getBaseEntityClassName()}#else implements Serializable #end {
	
	private static final long serialVersionUID = ${serialVersionUID};
	
#if(${this.getTable().hasPkDomain()})
	/** 
	* @Fields id : 生成的联合主键类
	*/
	@EmbeddedId
	private ${PKEntity_packageName}.${Function}PKEntity id;
#end

#foreach (${column} in ${this.getTable().getColumnList()})
#if(${this.getTable().hasPkDomain()} && ${column.isPriColumn()})
#else
	/** 
	* @Fields ${column.getJavaName()} : ${column.getColumnComment()}
	*/
#if(${column.isPriColumn()})
	@Id
	@GeneratedValue
#end
	@Column(name="${column.getColumnName()}" #if(!${column.isNullAble()}),nullable=${column.isNullAble()}#end #if(${column.getColumnLength()} > 0),length=${column.getColumnLength()}#end)
	private ${column.getJavaType()} ${column.getJavaName()};
#end
#end

	/*=========================getter and setter ===================*/

#if(${this.getTable().hasPkDomain()})
	/**
	 * @Description: 属性联合主键 Id 的get方法 
	 * @return id
	 */
	public ${PKEntity_packageName}.${Function}PKEntity getId() {
		return this.id;
	}
	/**
	 * @Description: 属性联合主键 Id 的set方法 
	 * @param id 
	 */
	public void setId(${PKEntity_packageName}.${Function}PKEntity id) {
		this.id = id;
	}
#end

#foreach (${column} in ${this.getTable().getColumnList()})
#if(${this.getTable().hasPkDomain()} && ${column.isPriColumn()})
#else
	/**
	 * @Description: 属性 ${column.getJavaName()} 的get方法 
	 * @return id
	 */
	public ${column.getJavaType()} ${column.findFieldGetMethod()}() {
		return this.${column.getJavaName()};
	}
	/**
	 * @Description: 属性 ${column.getJavaName()} 的set方法 
	 * @param id 
	 */
	public void ${column.findFieldSetMethod()}(${column.getJavaType()} ${column.getJavaName()}) {
		this.${column.getJavaName()} = ${column.getJavaName()};
	}
#end
#end
	
#if (!${this.getTable().findPriColumnList().isEmpty()})
	
	
	/*====================hashCode and equals ====================*/
	/**
	* <p>Description: ${Function}Entity 自动生成的hashcode方法</p> 
	* @author ${user}   
	* @date ${date}
	* @return 
	* @see java.lang.Object#hashCode() 
	*/ 
	@Override
	public int hashCode() {
		int result = 1;
#if(${this.getTable().hasPkDomain()})
		result = id.hashCode();
#else
		final int prime = 31;
#foreach (${column} in ${this.getTable().findPriColumnList()})
		${column.getHashCodeString()}
#end
#end
		return result;
	}
	/**
	* <p>Description:${Function}Entity 自动生成的equals方法 </p> 
	* @author ${user}   
	* @date ${date}
	* @param obj
	* @return 
	* @see java.lang.Object#equals(java.lang.Object) 
	*/ 
	@Override
	public boolean equals(Object obj) {
		if (this == obj)
			return true;
		if (obj == null)
			return false;
		if (getClass() != obj.getClass())
			return false;
		${Function}Entity other =(${Function}Entity) obj;
#if(${this.getTable().hasPkDomain()})
		if (id == null) {if (other.id != null){ return false;} }else if (!id.equals(other.id)){ return false;}
#else
#foreach (${column} in ${this.getTable().findPriColumnList()})
		${column.getEquelsString()}
#end
#end
		return true;
	}
#end
	
	/*==================== toString() ====================*/
	/**
	* <p>Description:${Function}Entity 自动生成的toString方法 </p> 
	* @author ${user}   
	* @date ${date} 
	* @return 
	* @see java.lang.Object#toString() 
	*/ 
	@Override
	public String toString() {
		return "${Function}Entity [" +
#if(${this.getTable().hasPkDomain()})
			   "id=" + id + "," + 
#end
#foreach (${column} in ${this.getTable().getColumnList()}) 
#if(${this.getTable().hasPkDomain()}&&${column.isPriColumn()})
#else
				"${column.getJavaName()}=" + ${column.getJavaName()} + "," + 
#end
#end
		"]";
	}
	
	

}