/**
* @Company 青鸟软通
* @Title: ${Function}Repository.java 
* @Package ${packageName} 
* @author ${user}   
* @date ${date} 
* @version V1.0   
*/ 
package ${packageName};

import ${Entity_packageName}.${Function}Entity;
import org.springframework.stereotype.Repository;

import com.jbinfo.oasis.system.plugin.jpa.OasisRepository;

/** 
* @ClassName: ${Function}Repository
* @Description: 
* @author ${user}
*/
@Repository
public interface ${Function}Repository extends OasisRepository<${Function}Entity,Long>{

}