/**
 * @Company weipu
 * @Title: ${Function}Controller.java
 * @Package  ${packageName}
 * @author ${user}
 * @date ${date}
 * @version V1.0
 */
package ${packageName};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RestController;

import ${Config_Service_packageName}.I${Function}Service;
/** 
 * @ClassName: ${Function}Controller
 * @Description: TODO
 * @author ${user} 
 */
 
@RestController
public class ${Function}Controller {

	@Autowired
	private I${Function}Service ${function}Service;
}
