/**
 * @Company 公司
 * @Title: ${Function}Model.java
 * @Package ${packageName}
 * @author ${user}
 * @date ${date}
 * @version V1.0
 */ 
package ${packageName};

import java.io.Serializable;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

/** 
 * @ClassName: ${Function}Model
 * @Description: TODO 根据数据库自动生成的业务实体，需要按照实际业务修改类名及属性
 * @author ${user}
 */
@Data
public class ${Function}Model implements Serializable{
	
	private static final long serialVersionUID = ${serialVersionUID};

#foreach (${column} in ${this.getTable().getColumnList()})
	/** 
	 * @Fields ${column.getJavaName()} : ${column.getColumnComment()}
	 */
    @ApiModelProperty("${column.getColumnComment()}")
	private ${column.getJavaType()} ${column.getJavaName()};
#end


}