<html>
	<head>
	</head>  
	<body>
		亲爱的用户 $name ,
		
		Jack Liu（刘文杰）
		山东weipu信息技术股份有限公司
		企业事业部（Enterprise Business Division）
		创新业务部（Innovative Business Department）
		
		ADD: 山东省青岛市延安三路67号湛山创意工厂B7
		
		TEL: (+86) 532-89615268 FAX: (+86) 532-66995809
		
		Mobile: 18763906395
		E-mail: liuwenjiejbinfo@gmail.com
		www.jbinfo.cn

		
	</body>
</html>  